.footer{
    a{ 
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .textoParrafoFooter{
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: $tipografia-general;
        color: black;
        text-align: center;
    }
}