.navbar-nav{ 
    a{
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        &:hover, &:focus{
            background-size: 100% 2px;
        }
    }
}
.carousel-item{
    img{
        width: 100%;
        height: 25vh;
        object-fit:cover;
        border: $border-general;
    }
}
@media screen and (min-widht:0px) and (max-width: 768px) {
    .carousel-item{
        height: 40vh;
    }
    .carousel-item{ 
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}