$color-texto: #000000;
$color-blanco:white;
$tipografia-general: "Binaria";
$tipografia-alternativa: 'Times New Roman', Times, serif;
$border-general: 1px solid black;
$sizes-fuentes:(
    catorce: 14px,
    16 : 16px,
    20 :20px,
    10 : 10px
);
$grosores-fuentes:(
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
);